/web_application_task/.phpunit.cache
/web_application_task/node_modules
/web_application_task/public/build
/web_application_task/public/hot
/web_application_task/public/storage
/web_application_task/storage/*.key
/web_application_task/storage/pail
/web_application_task/vendor
/web_application_task.env
/web_application_task.env.backup
/web_application_task.env.production
/web_application_task.phpactor.json
/web_application_task.phpunit.result.cache
/web_application_taskHomestead.json
/web_application_taskHomestead.yaml
/web_application_taskauth.json
/web_application_tasknpm-debug.log
/web_application_taskyarn-error.log
/web_application_task/.fleet
/web_application_task/.idea
/web_application_task/.nova
/web_application_task/.vscode
/web_application_task/.zed
